.faq {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1020px;
  height: auto;
  text-align: left;
  justify-content: left;
  padding-bottom: 50px;
}

.faq-body {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: auto;
  width: 100%;
}

.question {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: auto;
  width: 100%;
}

.faq-header {
  color: #f8b152;
  font-family: "VT323", monospace;
  font-size: 50px;
}

.faq-subhead {
  color: aqua;
  font-family: "VT323", monospace;
  font-size: larger;
  margin-bottom: 5px;
}

.faq-txt {
  color: white;
  font-family: "VT323", monospace;
}

.lfg-faq-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.lfg-faq {
  height: auto;
  width: 350px;
  margin: auto;
}

.lfg-faq:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  .faq {
    width: 100%;
  }

  .faq-header {
    padding-right: 10px;
    padding-left: 10px;
  }

  .faq-body {
    width: 100%;
  }

  .question {
    width: 100%;
  }

  .faq-subhead {
    padding-right: 10px;
    padding-left: 10px;
  }

  .faq-txt {
    padding-right: 10px;
    padding-left: 10px;
  }

  .lfg-faq {
    height: auto;
    width: 250px;
    margin-top: 25px;
  }
}
