.bet-display {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.bet-display-header {
  font-family: "VT323", monospace;
  margin: auto;
}

.bet-display-number {
  font-family: "VT323", monospace;
  color: aqua;
}

@media only screen and (max-width: 600px) {
  .bet-display {
    margin-bottom: 25px;
  }
}
