.lfg {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 25px;
}

.lfg-button {
  height: auto;
  width: 350px;
  margin: auto;
  margin-top: 25px;
}

.lfg-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  .lfg-button {
    height: auto;
    width: 250px;
  }
}
