.guess-display {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.guess-display-header {
  font-family: "VT323", monospace;
  margin: auto;
}

.guess-display-number {
  font-family: "VT323", monospace;
  color: aqua;
}

@media only screen and (max-width: 600px) {
  .guess-display {
    margin-bottom: 25px;
  }
}
