.App {
  text-align: center;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  color: gold;
  margin: auto;
}

.bet-guess-display {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 750px;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 5px;
}

.hands-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 500px;
}

.hand-one-two {
  display: flex;
  flex-direction: row;
}

.hand-three-four {
  display: flex;
  flex-direction: row;
}

.analytics {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.analytics-txt {
  margin: 10px;
}
