.nav {
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 100%;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 100%;
  max-width: 80%;
  margin: auto;
}

.logo {
  height: auto;
  width: 250px;
  margin: auto;
}

.nav-links {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: auto;
  width: 150px;
  list-style: none;
}

.list-item {
  margin: auto;
}

.list-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.nav-item {
  margin-right: 10px;
}

.nav-txt {
  font-family: "VT323", monospace;
  margin: auto;
}

.nav-txt:hover {
  color: aqua;
}

.socials {
  height: 25px;
  width: 25px;
  margin: auto;
}
