.nav {
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 100%;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 100%;
  max-width: 1700px;
  margin: auto;
}

.logo {
  height: auto;
  width: 250px;
  margin: auto;
}

.nav-links {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: auto;
  width: 150px;
  list-style: none;
}

.list-item {
  margin: auto;
}

.list-item:hover {
  cursor: pointer;
  transform: scale(1.05);
  margin: auto;
}

.nav-item {
  margin-right: 10px;
  margin: auto;
}

.nav-txt {
  font-family: "VT323", monospace;
  text-decoration: none;
  color: white;
  margin: auto;
  font-size: larger;
}

.nav-txt:hover {
  color: aqua;
}

.nav-txt.active {
  color: aqua;
}

.socials {
  height: 25px;
  width: 25px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .nav {
    height: 45px;
  }

  .logo {
    height: auto;
    width: 120px;
  }
}
